/* cancle badge */
.right-badge {
  right: 0;
  background-color: transparent;
  box-shadow: none;
  color: black;
  font-size: 1.4rem;
}
.wishlist-box {
  min-height: 40vh;
}
.wishlist-box-placeholder {
  margin-top: 6rem;
}
